/* Global Styles */
body {
	background-color: #edf2f7;
}

.hide-native-scrollbar {
	scrollbar-width: none; /* Firefox 64 */
	-ms-overflow-style: none; /* Internet Explorer 11 */
	&::-webkit-scrollbar {
		/** WebKit */
		display: none;
		width: 0;
		height: 0;
	}
}
